{
    "openapi": "3.0.1",
    "info": {
        "title": "Freejourney API",
        "description": "The Freejourney API provides endpoints for various services, including Large Language Models (LLM), text-to-image generation, and content moderation. This API allows developers to interact with these services seamlessly to build applications or automate workflows.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.freejourney.xyz/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "Fetches a list of available models for text generation or LLM-related tasks.",
                "responses": {
                    "200": {
                        "description": "List of models",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "object": {
                                            "type": "string",
                                            "example": "list"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "GPT-4o Mini"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "gpt-4o-mini"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "OpenAI's GPT-4o model."
                                                    },
                                                    "owner": {
                                                        "type": "string",
                                                        "example": "openai"
                                                    },
                                                    "supportsMessages": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}